@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Very important! This forces to keep the height and width at 100% across all devices! */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  